@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque5 {
    background-color: white;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 6rem 0;
    @include m.desktop_1020 {
        position: relative;
        z-index: 999;
    }
}

.bloque5Container {
    width: 26rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @include m.desktop_1020 {
        width: 60rem;
    }
    @include m.desktop_1400 {
        width: 70rem;
    }
}

.bloque5Title {
    display: flex;
    justify-content: center;
    .bloque5Title--mobile {
        max-width: none;
        width: 24rem;
        @include m.desktop_1020 {
            display: none;
        }
    }
    .bloque5Title--desktop {
        display: none;
        @include m.desktop_1020 {
            display: block;
            width: 40rem;
        }
        @include m.desktop_1400 {
            width: 50rem;    
        }
    }
}

.bloque5Subtitle {
    h3 {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 450;
        text-align: center;
        @include m.desktop_1020 {
            font-size: 2rem;
        }
        @include m.desktop_1400 {
            font-size: 2.5rem;
        }
    }
}