@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque2 {
    height: auto;
    background-color: white;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    @include m.desktop_1020 {
        position: relative;
        z-index: 99;
    }
}

@keyframes buttonCambioColor {
    0% { background-color: v.$ciencias; }
    20% { background-color: v.$gestion; }
    40% { background-color: v.$salud; }
    60% { background-color: v.$ingenieria; }
    80% { background-color: v.$educacion; }
    100% { background-color: v.$ciencias; }
}

.bloque2Container {
    width: 26rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    @include m.desktop_1020 {
        width: 80rem;
    }
    .bloque2ContainerImage--mobile {
        max-width: none;
        width: 24rem;
        @include m.desktop_1020 {
            display: none;
        }
    }
    .bloque2ContainerImage--desktop {
        display: none;
        @include m.desktop_1020 {
            display: block;
            max-width: none;
            width: 40rem;
        }
        @include m.desktop_1200 {
            width: 45rem;
        }
        @include m.desktop_1700 {
            width: 50rem;
        }
    }
    button {
        width: 25rem;
        height: 4.5rem;
        border-radius: 2rem;
        border: 2.5px solid black;
        cursor: pointer;
        transition: animation .5s ease;
        animation: buttonCambioColor 4s infinite;
        @include m.desktop_1200 {
            width: 30rem;
            height: 5.5rem;
            border-radius: 2.5rem;
        }
        @include m.desktop_1700 {
            width: 35rem;
            height: 6rem;
            border-radius: 3rem;
        }
        h5 {
            color: black;
            font-weight: 700;
            margin: 0;
            font-size: 1.8rem;
            @include m.desktop_1200 {
                font-size: 2rem;
            }
            @include m.desktop_1700 {
                font-size: 2.5rem;
            }
        }
    }
}

.bloque2Subtitle {
    h4 {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        @include m.desktop_1200 {
            font-size: 2.5rem;
        }
        @include m.desktop_1700 {
            font-size: 3rem;
        }
    }
}

