.bloque4 {
  height: auto;
  background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/22-04-25/open-cayetano-mobile-block3-background.webp);
  background-position: center;
  height: auto;
  width: 100%;
  background-size: cover !important;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
}

.bloque4Container {
  // background-color: purple;
  width: 26rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.bloque4Title {
  display: flex;
  justify-self: center;
  img {
    width: 24rem;
  }
}

.bloque4Subtitle {
  h4 {
    color: black;
    margin: 0;
    font-size: 1.7rem;
    font-weight: 450;
    text-align: center;
  }
}

.bloque4Grid {
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}

.bloque4GridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  
  img {
    width: 6rem;
    height: auto;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: black;
    span {
      font-size: 1.2rem;
    }
  }
}