doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        //- link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        //- link(rel="stylesheet", href="./css/swiper.css")
    body
        .bloque1
            .bloque1Container
                .bloque1Background
                    .bloque1BackgroundText
                        img.bloque1BackgroundTextImage(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-logo%20%281%29.webp", alt="")
                        //- img(src="https://files.embluemail.com/uo/52926/general_admision_block9_comillas_2025.png", alt="")
                        .bloque1BackgroundTextContent
                            img.bloque1BackgroundTextContentMobile(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/09-04-25/open-cayetano-background-mobile-imageTop.webp", alt="")
                            img.bloque1BackgroundTextContentDesktop(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/09-04-25/open-cayetano-background-desktop-imageTop.webp", alt="")
                            .bloque1BackgroundTextContentGrid
                                h3 Sábado 14 de junio
                                h3 Campus SMP
                .bloque1FormContent
                    .bloque1Form
                        .bloque1FormTitle
                            h3 <strong>Déjanos tus datos</strong><br /> y nos contactaremos contigo
                        .bloque1FormDouble
                            input(type="text" placeholder="Nombres*")
                            input(type="text" placeholder="Apellido Paterno*")
                        .bloque1FormDouble
                            input(type="text" placeholder="Apellido Materno*")
                            input(type="text" placeholder="Celular*")
                        .bloque1FormDouble
                            input(type="text" placeholder="Tipo Documento*")
                            input(type="text" placeholder="Nro. Documento*")
                        input(type="text" placeholder="Correo*")
                        //- .bloque1FormDouble
                        input.inputNumber(type="number" placeholder="- Seleccionar Carrera -" inputmode="numeric")
                        input(type="text" placeholder="- ¿En qué año estás del colegio? -")
                        .bloque1FormContainerTerminos 
                            .bloque1TopFormContainer--terminos
                                input.asistencia(type="checkbox", name="")
                                h3 Deseo asistir al evento virtual de este 24 de Noviembre.
                            .bloque1TopFormContainer--terminos
                                input(type="checkbox", name="")
                                h3 Política de privacidad y términos de servicio.
                        .captcha
                            #recap3503766000237491098.g-recaptcha(data-sitekey='6LdqkDoiAAAAALdLtgIzFUQelkS9jGZU4W7gjLHG' data-theme='light' data-callback='rccallback3503766000237491098' captcha-verified='false')
                            #recapErr3503766000237491098(style='font-size:12px;color:red;visibility:hidden;') Error en validación de Captcha. Si no es un robot, inténtelo de nuevo.
                        .bloque1FormButton
                            button
                                h3 Enviar
                        script.
        .bloque2
            .bloque2Banner
                .texto
                    .textoContent 
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
                    .textoContent
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
                    .textoContent
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
                    .textoContent
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
                    .textoContent
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
                    .textoContent
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
                    .textoContent
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
                    .textoContent
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
                    .textoContent
                        img.shield__image(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-mobile-banner.webp", alt="")
                        h3 Examen para egresados de secundaria
        .bloque3 
        .bloque4
        footer
            .footerContainer
                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/19-03-25/general-logo%20%281%29.webp", alt="")
                h3 Campus Central:
                    br
                    | Av. Honorio Delgado 430
                    br
                    | Urb. Ingeniería, San Martín de Porres
        script(src="./js/script.js" defer)
        //- script(src="./js/swiper.js" defer)
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer)