@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque6 {
    perspective: 1000px;
    background-color: rgba(0,0,0, .6);
    @include m.desktop_1020 {
        display: flex;
    }
}

.card {
    width: 100%;
    height: 45rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    will-change: transform;
    @include m.phone_360 {
        height: 50rem;
    }
    @include m.phone_390 {
        height: 52rem;
    }
    @include m.desktop_1020 {
        transition: transform 0.8s ease-in-out;
        height: 28rem;
        &:hover {
            transform: rotateY(180deg);
        }
    }
    @include m.desktop_1200 {
        height: 32rem;
    }
    @include m.desktop_1300 {
        height: 35rem;
    }
    @include m.desktop_1400 {
        height: 38rem;
    }
    @include m.desktop_1500 {
        height: 40rem;
    }
    @include m.desktop_1600 {
        height: 43rem;
    }
    @include m.desktop_1700 {
        height: 46rem;
    }
    @include m.desktop_1800 {
        height: 48rem;
    }
    @include m.desktop_1900 {
        height: 51rem;
    }
  }

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        width: 16rem;
        height: 3.5rem;
        position: absolute;
        bottom: 3rem;
        font-size: 1.8rem;
        right: 2rem;
        background-color: v.$color1;
        border: none;
        border-radius: 2rem;
        font-weight: 600;
        color: black;
        @include m.desktop_1020 {
            display: none;
        }
    }
  }

  .card-front {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/22-04-25/open-cayetano-mobile-block4-slide1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card-back {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/23-04-25/open-cayetano-block6-back-image1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    row-gap: .8rem;
    h3 {
        margin: 0;
        font-size: 2rem;
        font-weight: 500;
        width: 16rem;
        text-align: center;
        color: black;
    }
    button {
        background-color: black;
        color: white;
    }
  }
  
  .card-back {
    // background: lightcoral;
    transform: rotateY(180deg);
  }
  
  .flipped {
    transform: rotateY(180deg);
  }

.card-front2 {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/22-04-25/open-cayetano-mobile-block4-slide2.webp);
}

.card-back2 {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/23-04-25/open-cayetano-block6-back-image3.webp);
}

.card-front3 {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/22-04-25/open-cayetano-mobile-block4-slide3.webp);
}

.card-back3 {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/23-04-25/open-cayetano-block6-back-image2.webp);
}

.card-front4 {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/22-04-25/open-cayetano-mobile-block4-slide4.webp);
}

.card-back4 {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/23-04-25/open-cayetano-block6-back-image4.webp);
    row-gap: .5rem;
    @include m.desktop_1020 {
        row-gap: .3rem;
    }
    @include m.desktop_1400 {
        row-gap: .7rem;
    }
    h3 {
        width: 27rem;
        font-size: 1.7rem;
        @include m.desktop_1020 {
            width: 18rem;
            font-size: 1.2rem;
        }
        @include m.desktop_1200 {
            width: 20rem;
            font-size: 1.3rem;
        }
        @include m.desktop_1500 {
            font-size: 1.5rem;
        }
        @include m.desktop_1600 {
            font-size: 1.7rem;
        }
        @include m.desktop_1900 {
            font-size: 2rem;
            width: 22rem;
        }
    }
}

.card-front5 {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/22-04-25/open-cayetano-mobile-block4-slide5.webp);
}

.card-back5 {
    background-image: url(https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/23-04-25/open-cayetano-block6-back-image5.webp);
}